div {
  border: 5px solid red;
  margin: 5px;
  padding: 7px;
}

.div1 {
  display: flex;
  justify-content: flex-start;
}

.div2 {
  display: flex;
  flex-direction: row-reverse;
}
.div3 {
  display: flex;
  justify-content: center;
}
.div4 {
  display: flex;
  justify-content: space-around;
}
.div5 {
  display: flex;
  justify-content: space-between;
}
