/*Selector{
    property: value;
}*/
*{
    text-align: right;
}
header{
    color: rgba(13, 70, 121,0.7);
    border: 5px solid rgba(1, 62, 29,0.5);    
    cursor: pointer;
    font-size: 150%;

}
h2 +  p:hover{
    color: rgb(24, 2, 2);
    text-align: right;
    border: 5px dashed rgba(31, 14, 27, 0.5);
    cursor: pointer;
}

p{
    color:rgba(3, 1, 1, 0.9) !important;
    text-align: center;
  /*  text-transform: uppercase;  */
    line-height: 20px;
    font-family: 'Poiret One', cursive;

   
}
p{
    color: rgba(106, 224, 26, 0.9);
    line-height: 50px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 150%;

   
}
body{
    background-image: url(back2.jpg);
    background-size: cover;
    
    text-align: center;
    
}
li {
    list-style: none;
    display: inline-block;

}
.webtext:last-child{
    border: 5px dashed rgb(231, 12, 30);
    background-size: 10px
    
}
.active:first-child{
    background-color:rgba(194, 197, 19, 0.45);
    border: 5px dashed rgb(235, 84, 14);
}
#div1{
    background-color: rgba(0,0,255,0.3);
}   
#div2{
    background-color: rgba(255,0,0,0.2);
}